## Limpieza del CSV:

In [435]:
#librerías para el manejo de los datos
import pandas as pd
import numpy as np

#librerías para la visualización de los datos
import matplotlib.pyplot as plt
import seaborn as sns

#librerías para los análisis estadísticos
from scipy.stats import skew

import pycountry_convert as pc

pd.options.display.max_columns=None
pd.options.display.max_rows=None

Ejecutar solo si no se ha instalado antes el pycountry:

In [436]:
#!pip install pycountry-convert

### 1. Invocación del DF y depuración de las variables:

In [437]:
df = pd.read_csv('../files/df_a_usar_2.csv', index_col=0)
df.head()

,index,time,age,gender,country_q3,education_q4,role_q5,experience_q6,Q8,Q11,Q13,Q15,sector_q20,company_size_q21,Q22,Q23,anual_income_q25,Q26,Q33,Q35,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34,Q18_Part_1,Q18_Part_2,Q18_Part_3,Q18_Part_4,Q18_Part_5,Q18_Part_6,Q18_OTHER,Q19_Part_1,Q19_Part_2,Q19_Part_3,Q19_Part_4,Q19_Part_5,Q19_OTHER,Q27_A_Part_1,Q27_A_Part_2,Q27_A_Part_3,Q27_A_Part_4,Q27_A_Part_5,Q27_A_Part_6,Q27_A_Part_7,Q27_A_Part_8,Q27_A_Part_9,Q27_A_Part_10,Q27_A_Part_11,Q27_A_OTHER,Q28,Q29_A_Part_1,Q29_A_Part_2,Q29_A_Part_3,Q29_A_Part_4,Q29_A_OTHER,Q30_A_Part_1,Q30_A_Part_2,Q30_A_Part_3,Q30_A_Part_4,Q30_A_Part_5,Q30_A_Part_6,Q30_A_Part_7,Q30_A_OTHER,Q31_A_Part_1,Q31_A_Part_2,Q31_A_Part_3,Q31_A_Part_4,Q31_A_Part_5,Q31_A_Part_6,Q31_A_Part_7,Q31_A_Part_8,Q31_A_Part_9,Q31_A_OTHER,Q36_A_Part_1,Q36_A_Part_2,Q36_A_Part_3,Q36_A_Part_4,Q36_A_Part_5,Q36_A_Part_6,Q36_A_Part_7,Q36_A_OTHER,Q37_A_Part_1,Q37_A_Part_2,Q37_A_Part_3,Q37_A_Part_4,Q37_A_Part_5,Q37_A_Part_6,Q37_A_Part_7,Q37_A_OTHER,Q38_A_Part_1,Q38_A_Part_2,Q38_A_Part_3,Q38_A_Part_4,Q38_A_Part_5,Q38_A_Part_6,Q38_A_Part_7,Q38_A_Part_8,Q38_A_Part_9,Q38_A_Part_10,Q38_A_Part_11,Q38_A_OTHER,Q39_Part_1,Q39_Part_2,Q39_Part_3,Q39_Part_4,Q39_Part_5,Q39_Part_6,Q39_Part_7,Q39_Part_8,Q39_Part_9,Q39_OTHER,Q40_Part_1,Q40_Part_2,Q40_Part_3,Q40_Part_4,Q40_Part_5,Q40_Part_6,Q40_Part_7,Q40_Part_8,Q40_Part_9,Q40_Part_10,Q40_Part_11,Q40_OTHER,Q42_Part_1,Q42_Part_2,Q42_Part_3,Q42_Part_4,Q42_Part_5,Q42_Part_6,Q42_Part_7,Q42_Part_8,Q42_Part_9,Q42_Part_10,Q42_Part_11,Q42_OTHER,Q27_B_Part_1,Q27_B_Part_2,Q27_B_Part_3,Q27_B_Part_4,Q27_B_Part_5,Q27_B_Part_6,Q27_B_Part_7,Q27_B_Part_8,Q27_B_Part_9,Q27_B_Part_10,Q27_B_Part_11,Q27_B_OTHER,Q29_B_Part_1,Q29_B_Part_2,Q29_B_Part_3,Q29_B_Part_4,Q29_B_OTHER,Q30_B_Part_1,Q30_B_Part_2,Q30_B_Part_3,Q30_B_Part_4,Q30_B_Part_5,Q30_B_Part_6,Q30_B_Part_7,Q30_B_OTHER,Q31_B_Part_1,Q31_B_Part_2,Q31_B_Part_3,Q31_B_Part_4,Q31_B_Part_5,Q31_B_Part_6,Q31_B_Part_7,Q31_B_Part_8,Q31_B_Part_9,Q31_B_OTHER,Q32_B_Part_1,Q32_B_Part_2,Q32_B_Part_3,Q32_B_Part_4,Q32_B_Part_5,Q32_B_Part_6,Q32_B_Part_7,Q32_B_Part_8,Q32_B_Part_9,Q32_B_Part_10,Q32_B_Part_11,Q32_B_Part_12,Q32_B_Part_13,Q32_B_Part_14,Q32_B_Part_15,Q32_B_Part_16,Q32_B_Part_17,Q32_B_Part_18,Q32_B_Part_19,Q32_B_Part_20,Q32_B_OTHER,Q34_B_Part_1,Q34_B_Part_2,Q34_B_Part_3,Q34_B_Part_4,Q34_B_Part_5,Q34_B_Part_6,Q34_B_Part_7,Q34_B_Part_8,Q34_B_Part_9,Q34_B_Part_10,Q34_B_Part_11,Q34_B_Part_12,Q34_B_Part_13,Q34_B_Part_14,Q34_B_Part_15,Q34_B_Part_16,Q34_B_OTHER,Q36_B_Part_1,Q36_B_Part_2,Q36_B_Part_3,Q36_B_Part_4,Q36_B_Part_5,Q36_B_Part_6,Q36_B_Part_7,Q36_B_OTHER,Q37_B_Part_1,Q37_B_Part_2,Q37_B_Part_3,Q37_B_Part_4,Q37_B_Part_5,Q37_B_Part_6,Q37_B_Part_7,Q37_B_OTHER,Q38_B_Part_1,Q38_B_Part_2,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
0,0,910,50-54,Man,India,Bachelor’s degree,Other,5-10 years,Python,A laptop,2-5 times,5-10 years,Manufacturing/Fabrication,50-249 employees,3-4,No (we do not use ML methods),"25,000-29,999",$100-$999,NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important par...,PostgreSQL,None,"General purpose image/video tools (PIL, cv2, s...",NaN,NaN,NaN,NaN,NaN,NaN,"Word embeddings/vectors (GLoVe, fastText, word...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Platform (GCP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Compute Engine,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Storage (GCS),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,GitHub,NaN,Kaggle,NaN,NaN,NaN,NaN,Coursera,edX,Kaggle Learn Courses,DataCamp,NaN,Udacity,Udemy,NaN,NaN,NaN,NaN,NaN,NaN,"Email newsletters (Data Elixir, O'Reilly Data ...",NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...","Podcasts (Chai Time Data Science, O’Reilly Dat...","Blogs (Towards Data Science, Analytics Vidhya,...","Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,784,50-54,Man,Indonesia,Master’s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,< 1 year,Manufacturing/Fabrication,"1000-9,999 employees",1-2,We are exploring ML methods (and may one day p...,"60,000-69,999",$0 ($USD),NaN,NaN,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",None,Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kaggle Learn Courses,NaN,NaN,NaN,NaN,NaN,"Cloud-certification programs (direct from AWS,...",University Courses (resulting in a university ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN,NaN,NaN,Google Cloud Platform (GCP),NaN,Oracle Cloud,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Compute Engine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,MySQL,NaN,SQLite,Oracle Database,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Data Studio,NaN,NaN,NaN,NaN,Qlik,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Automated model selection (e.g. auto-sklearn, ...",NaN,NaN,NaN,NaN,NaN,Google Cloud AutoML,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
2,2,924,22-24,Man,Pakistan,Master’s degree,Software Engineer,1-3 years,Python,A laptop,Never,I do not use machine learning methods,Academics/Education,"1000-9,999 employees",0,I do not know,$0-999,$0 ($USD),MySQL,NaN,"Basic statistical software (Microsoft Excel, G...","Python, C++, Java","PyCharm ,Jupyter Notebook, Other",Other,Matplotlib,NaN,NaN,None of these activities are an important par...,"MySQL , MongoDB",None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DataRobot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I do not share my work publicly,NaN,NaN,NaN,NaN,DataCamp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,NaN,NaN,NaN,NaN,NaN,Amazon Web Services (AWS),NaN,Google Cloud Platform (GCP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Microsoft Azure Virtual Machines,Google Cloud Compute Engine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Azure Machine Learning Studio,Google Cloud Vertex AI,DataRobot,NaN,NaN,NaN,NaN,NaN,NaN,MySQL,PostgreSQL,NaN,NaN,MongoDB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Microsoft Power BI,NaN,NaN,NaN,Tableau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Automated model selection (e.g. auto-sklearn, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DataRobot AutoML,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TensorBoard,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,575,45-49,Man,Mexico,Doctoral degree,Research Scientist,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",More than 25 times,5-10 years,Academics/Education,"1000-9,999 employees",0,I do not know,"30,000-39,999",$0 ($USD),NaN,NaN,"Local development environments (RStudio, Jupyt...",Python,"Spyder,Jupyter Notebook",NVIDIA GPUs,Matplotlib,"Scikit-learn , TensorFlow ,Keras","Dense Neural Networks (MLPs, etc), Convolutio...",Do research that advances the state of the ar...,NaN,NaN,"General purpose image/video tools (PIL, cv2, s...","Image segmentation methods (U-Net, Mask R-CNN,...","Object detection methods (YOLOv3, RetinaNet, etc)",Image classification and other general purpose...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Coursera,edX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,"Blogs (Towards Data Science, Analytics Vidhya,...","Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN,Amazon Web Services (AWS),Microsoft Azure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Microsoft Azure Virtual Machines,Google Cloud Compute Engine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
4,4,781,45-49,Man,India,Doctoral degree,Other,< 1 years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,10-20 years,Academics/Education,50-249 employees,5-9,We use ML methods for generating insights (but...,"30,000-39,999","$1000-$9,999",NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, C, MATLAB","Spyder,MATLAB ,Jupyter Notebook",None,"Matplotlib ,Seaborn ,Ggplot / ggplot2","Scikit-learn ,PyTorch ,LightGBM","Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,None,Microsoft Power BI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Microsoft Azure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Microsoft Azure Virtual Machines,NaN,NaN,NaN,Microsoft Azure Data Lake Storage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Azure Machine Learning Studio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Weights & Biases,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I do not share my work publicly,NaN,NaN,NaN,Kaggle Learn Courses,NaN,NaN,NaN,Udemy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [438]:
df.shape

(25973, 242)

Seleccionamos las columnas que no nos interesan:

In [439]:
df2=df[['age', 'gender', 'country_q3', 'education_q4', 'role_q5', 
        'experience_q6','Q7','sector_q20', 'company_size_q21','anual_income_q25']]

In [440]:
#comprobamos el cambio:
df2.columns

Index(['age', 'gender', 'country_q3', 'education_q4', 'role_q5',
       'experience_q6', 'Q7', 'sector_q20', 'company_size_q21',
       'anual_income_q25'],
      dtype='object')

In [441]:
df2.shape

(25973, 10)

#### Edad -- no hay que tocarla:

In [442]:
df2['age'].value_counts()

25-29    4931
18-21    4901
22-24    4694
30-34    3441
35-39    2504
40-44    1890
45-49    1375
50-54     964
55-59     592
60-69     553
70+       128
Name: age, dtype: int64

#### Pais:

In [443]:
#Vamos a crear una columna nueva para establecer a que continente pertenece cada pais de procedencia.
#Para ello debemos intalarnos la libreria 'pycountry-convert'
#pip install pycountry-convert
#Y la importamos.

def country_to_continent(country_name):
    try:
        country_alpha2 = pc.country_name_to_country_alpha2(country_name)
        country_continent_code = pc.country_alpha2_to_continent_code(country_alpha2)
        country_continent_name = pc.convert_continent_code_to_continent_name(country_continent_code)
        return country_continent_name
    except:
        return country_name

In [444]:
#Vamos a crear una columna nueva para establecer a que continente pertenece cada pais de procedencia.
#Para ello debemos intalarnos la libreria 'pycountry-convert'
#pip install pycountry-convert
#Y la importamos.

def country_to_continent(country_name):
    try:
        country_alpha2 = pc.country_name_to_country_alpha2(country_name)
        country_continent_code = pc.country_alpha2_to_continent_code(country_alpha2)
        country_continent_name = pc.convert_continent_code_to_continent_name(country_continent_code)
        return country_continent_name
    except:
        return country_name

index_iran=df2.index[df2['country_q3']=='Iran, Islamic Republic of...']
print('Numero de indices obtenidos en Irán:',len(index_iran))

#Procedemos a hacer lo mismo con Hong Kong.
index_hk=df2.index[df2['country_q3']=='Hong Kong (S.A.R.)']
print('Numero de indices obtenidos en Hong Kong:',len(index_hk))


for i in index_iran:
    df2['country_q3'].iloc[i] = "Iran"

for i in index_hk:
    df2['country_q3'].iloc[i] = 'Hong Kong'
    
#Aplicamos la funcion ahora que hemos sustituido Iran.
df2['continent']=df2['country_q3'].apply(country_to_continent)

Numero de indices obtenidos en Irán: 195
Numero de indices obtenidos en Hong Kong: 79

/opt/anaconda3/lib/python3.9/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/var/folders/t6/q3b9mm2s4gq82rvww5q2z2tr0000gn/T/ipykernel_33043/1214506350.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['continent']=df2['country_q3'].apply(country_to_continent)

In [445]:
for i in index_iran:
    df2['country_q3'].iloc[i] = "Iran"

for i in index_hk:
    df2['country_q3'].iloc[i] = 'Hong Kong'

In [446]:
#Aplicamos la funcion ahora que hemos sustituido Iran.
df2['continent']=df2['country_q3'].apply(country_to_continent)

/var/folders/t6/q3b9mm2s4gq82rvww5q2z2tr0000gn/T/ipykernel_33043/86955938.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['continent']=df2['country_q3'].apply(country_to_continent)

In [447]:
#comprobamos la aplicación de la función:
df2['continent'].unique()

array(['Asia', 'North America', 'Europe', 'Oceania', 'Africa',
       'South America', 'Other', 'I do not wish to disclose my location'],
      dtype=object)

#### *Género:

In [448]:
df2['gender_def'] = df2['gender'].replace({'Man': 'Man', 'Woman': 'Woman', 'Prefer to self-describe': 'NB', 'Nonbinary': 'NB', 'Prefer not to say': np.nan})

/var/folders/t6/q3b9mm2s4gq82rvww5q2z2tr0000gn/T/ipykernel_33043/1240910373.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['gender_def'] = df2['gender'].replace({'Man': 'Man', 'Woman': 'Woman', 'Prefer to self-describe': 'NB', 'Nonbinary': 'NB', 'Prefer not to say': np.nan})

In [449]:
df2['gender_def'].value_counts()

Man      20598
Woman     4890
NB         130
Name: gender_def, dtype: int64

In [450]:
df2['gender_def'].isnull().sum()

355

In [451]:
#lo he intentado con dropna pero no nos ha funcionado. 
#opto, por ende, quedarnos simplemente con los casos no-nulos:
#https://stackoverflow.com/a/13413845

df2 = df2[df2['gender_def'].notna()]

In [452]:
df2['gender_def'].isnull().sum()

0

#### Educación -- Limpia de por sí.

In [453]:
df2['education_q4'].value_counts()

Master’s degree                                                      9981
Bachelor’s degree                                                    9816
Doctoral degree                                                      2751
Some college/university study without earning a bachelor’s degree    1713
I prefer not to answer                                                591
No formal education past high school                                  412
Professional doctorate                                                354
Name: education_q4, dtype: int64

#### Puesto:

In [454]:
def roles_rar (col):
    
    data = ['Data Scientist','Data Engineer', 'Business Analyst', 'Statistician']
    supervising_roles = ['Program/Project Manager', 'Product Manager',]
    soft_eng = ["Software Engineer", "DBA/Database Engineer"]
    relatios = ["Developer Relations/Advocacy"]
    nulos = ["Currently not employed", "Other"]
    student = ['Student']

    if col in data:
        return 'Data-related role'
    elif col in supervising_roles:
        return 'Supervising role'
    elif col in soft_eng:
        return 'Sofware-related role'
    elif col in relatios:
        return "Developer Relations/Advocacy"
    elif col in student:
        return 'Student'
    elif col in nulos:
        return np.nan

In [455]:
df2['role_q5_def'] = df2['role_q5'].apply(roles_rar)

In [456]:
df2['role_q5_def'].value_counts()

Student                         6703
Data-related role               5500
Sofware-related role            2581
Supervising role                1150
Developer Relations/Advocacy      97
Name: role_q5_def, dtype: int64

#### Experiencia -- Limpia de por si:

In [457]:
df2['experience_q6'].value_counts()

1-3 years                    7784
< 1 years                    5809
3-5 years                    4009
5-10 years                   3043
10-20 years                  2131
20+ years                    1820
I have never written code    1022
Name: experience_q6, dtype: int64

#### *Lenguaje -- Sonia

In [458]:
df2.rename(columns={"Q7": "language_q7"}, inplace=True)

#### ?Sector:

#### Tamaño de la empresa:

In [459]:
#limpia de por si, pero quitamos los nulos:
df2['company_size_q21'].isnull().sum()

9580

In [460]:
#nos quedamos con los que no son nulos:
df2 = df2[df2['company_size_q21'].notna()]

In [461]:
df2.shape

(16038, 13)

In [462]:
df2['company_size_q21'].isnull().sum()

0

#### Salario:

In [463]:
# quitamos '$' 
df2['anual_income_q25'] = df2['anual_income_q25'].replace('$0-999','0-999')
df2['anual_income_q25'] = df2['anual_income_q25'].replace('>$1,000,000','>1,000,000')

In [464]:
list_income = list(df2['anual_income_q25'].unique())
list_income

['25,000-29,999',
 '60,000-69,999',
 '0-999',
 '30,000-39,999',
 '15,000-19,999',
 '70,000-79,999',
 '2,000-2,999',
 '10,000-14,999',
 '5,000-7,499',
 '20,000-24,999',
 '1,000-1,999',
 '100,000-124,999',
 '7,500-9,999',
 nan,
 '4,000-4,999',
 '40,000-49,999',
 '50,000-59,999',
 '3,000-3,999',
 '300,000-499,999',
 '200,000-249,999',
 '125,000-149,999',
 '250,000-299,999',
 '80,000-89,999',
 '90,000-99,999',
 '150,000-199,999',
 '>1,000,000',
 '$500,000-999,999']

In [465]:
# lista con los valores del los rangos [annual_income_q25] convertidos a euros:
list_income_new = ['23,250-27,899', '55,800-65,099', '0-929,07', '27,900-37,199', np.nan,
                   '13,950-18,599', '65,100-74,399', '1,860-2,789', '9,300-13,949',
                   '4,650-6,974', '18,600-23,249', '930-1,859', '93,000-116,249',
                   '6,975-9,299', '3,720-4,649', '37,200-46,499', '46,500-55,799',
                   '2,790-3,719', '279,000-464,999', '186,000-232,499',
                   '116,250-139,499', '232,500-278,999', '74,400-83,699', '83,700-92,999', '139,500-185,999', '>930,000',
                   '465,000-929,999']

In [466]:
# creamos la nueva columna:
df2['annual_incom€_q25'] = df2['anual_income_q25'].replace(list_income, list_income_new)

In [467]:
df2['annual_incom€_q25'].unique()

array(['23,250-27,899', '55,800-65,099', '0-929,07', '27,900-37,199', nan,
       '13,950-18,599', '65,100-74,399', '1,860-2,789', '9,300-13,949',
       '4,650-6,974', '18,600-23,249', '930-1,859', '93,000-116,249',
       '6,975-9,299', '3,720-4,649', '37,200-46,499', '46,500-55,799',
       '2,790-3,719', '279,000-464,999', '186,000-232,499',
       '116,250-139,499', '232,500-278,999', '74,400-83,699',
       '83,700-92,999', '139,500-185,999', '>930,000', '465,000-929,999'],
      dtype=object)

## Guardamos en un csv:

In [468]:
df2.to_csv('../files/df_depurado.csv')

## Filtramos por europa:

In [432]:
europa = df2[df2['continent'] == 'Europe']
europa.head()

,age,gender,country_q3,education_q4,role_q5,experience_q6,language_q7,sector_q20,company_size_q21,anual_income_q25,continent,gender_def,role_q5_def,annual_incom€_q25
15,35-39,Man,Greece,Doctoral degree,Research Scientist,10-20 years,"Python, C, C++, MATLAB",Academics/Education,50-249 employees,"10,000-14,999",Europe,Man,None,"1,860-2,789"
16,50-54,Man,Belgium,Bachelor’s degree,Data Analyst,20+ years,"Python, SQL",Energy/Mining,"1000-9,999 employees","2,000-2,999",Europe,Man,None,"65,100-74,399"
25,25-29,Woman,Poland,Master’s degree,Machine Learning Engineer,3-5 years,"Python, C++",Computers/Technology,0-49 employees,"25,000-29,999",Europe,Woman,None,"23,250-27,899"
41,25-29,Man,Italy,Master’s degree,Other,1-3 years,"Python, MATLAB",Energy/Mining,0-49 employees,"30,000-39,999",Europe,Man,NaN,"27,900-37,199"
57,35-39,Woman,Russia,I prefer not to answer,Data Scientist,1-3 years,"Python, R",Academics/Education,"1000-9,999 employees",0-999,Europe,Woman,Data-related role,"0-929,07"

## EU - Guardamos en un csv:

In [433]:
europa.to_csv('../files/df_eu_depurado.csv')